<!DOCTYPE html>
<html lang="en">
<iframe src="components/heade.html" frameborder="0"></iframe>

<head>
    <title>关于河广节</title>
    <meta name="description" content="河南大学广告节">
    <meta name="keywords" content="河广节,河南大学大学生,河南大学生,广告节">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <base href="<?=base_url();?>">
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
    <link rel="stylesheet" href="./public/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./public/assets/swiper/swiper.min.css">
    <link rel="stylesheet" href="./public/styles/base.css">
    <link rel="stylesheet" href="./public/styles/common.css">
    <link rel="stylesheet" href="./public/styles/index.css">
    <link rel="stylesheet" href="./public/styles/about.css">
    <link rel="stylesheet" href="./public/styles/header.css">
    <link rel="stylesheet" href="./public/styles/footer.css">

    <script src="./public/assets/jquery-3.2.1.js"></script>
    <script src="./public/assets/baiduTemplate.js"></script>
    <script src="./public/assets/swiper/swiper.min.js"></script>
    <script src="./public/assets/layer/layer.js"></script>
    <script src="./public/utils/render.request.js"></script>
    <script src="./public/utils/render.utils.js"></script>
    <script src="./public/utils/common.js"></script>
    <script src="./public/script/common.js"></script>
</head>

<body>
    <?php $this->load->view('index/head_top')?>
    <!-- 轮播 -->
    <div id="commonBanner">
        <?php $this->load->view('index/shuffling')?>
    </div>
    <!-- 内容部分 -->
    <div id="control_center">
        <div class="container">
            <?php $this->load->view('index/controlLeft')?>
            <div class="control_right">
                <div>
                    <p class="itemName">河广节简介</p>
                    <p class="newTips">
                        <span class="line">BRIEF INTRODUCTION</span>
                    </p>
                    <ul>
                        <li>
                            <a>河南大学生广告节(简称大广节)</a>
                            是上海文化创意领域中具有国际影响力的大学生广告创意平台。自2001年以来，已成功举办17届，每一届都吸引着数以万计的大学生报名参加。在全国高校和大学生群体中拥有广泛的认可度和知名度。
                        </li>
                        <li>
                            第18届上海国际大学生广告节由共青团上海市委员会、上海市教育委员会、上海市市场监督管理局指导，上海大学、上海市广告协会主办，上海剧星传媒股份有限公司独家承办，中原消费金融独家总冠名，同时也受到了爱奇艺、飘影等媒体和品牌的大力支持。
                        </li>
                        <li>
                            活动以“发现人才、培养人才”为宗旨，通过举办立足国内、面向世界的广告创意大赛等一系列活动，结合行业发展需求，连接广告领域全产业链，致力于把创新创业意识融入人才培养。
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <?php $this->load->view('index/commonFooter')?>
    <script src="./public/script/common.js"></script>
    <script>

        $('.control_left').load('./components/aboutCommonSideMenu.html', null, function () {
            $('.control_left .nav li').removeClass('active');
            $('.control_left .nav li[name=about]').addClass('active');
        });
        var init = function () {
            //主体内容导航
            $('.control_left .nav li ').click(function () {
                $(this).addClass('active').siblings().removeClass('active');
            })
            //  头部导航切换 elName为默认选中的标签  
            // navHeder('homePage')
        }
        window.onload = function () {
            init()
        }
    </script>
</body>

</html>