<!DOCTYPE html>
<html lang="en">

<head>
    <title>个人中心</title>
    <meta name="description" content="上海国际大学生广告节">
    <meta name="keywords" content="大广节,上海国际大学生,上海大学生,广告节">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <base href="<?=base_url();?>">
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
    <link rel="stylesheet" href="./public/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./public/assets/swiper/swiper.min.css">
    <link rel="stylesheet" href="./public/styles/base.css">
    <link rel="stylesheet" href="./public/styles/common.css">
    <link rel="stylesheet" href="./public/styles/index.css">
    <link rel="stylesheet" href="./public/styles/header.css">
    <link rel="stylesheet" href="./public/styles/footer.css">
    <link rel="stylesheet" href="./public/styles/changePassword.css">
    <script src="./public/assets/jquery-3.2.1.js"></script>

    <script src="./public/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="./public/assets/layer/layer.js"></script>
    <script src="./public/assets/bootstrap/js/bootstrap.js"></script>
    <script src="./public/assets/swiper/swiper.min.js"></script>
    <script src="./public/assets/layer/layer.js"></script>
    <script src="./public/utils/render.request.js"></script>
    <script src="./public/utils/render.utils.js"></script>
    <script src="./public/assets/baiduTemplate.js"></script>
    <script src="./public/utils/common.js"></script>
    <script src="./public/script/common.js"></script>
</head>

<body id="changePassword">

<?php $this->load->view('index/head_top')?>
    <div class="user-info-main container">
        <?php $this->load->view('index/control_left')?>
        <div class="upload_content">
            <div class="upload_head">
                <span class="upload_title">修改密码</span>
            </div>
            <div class="form_information">
                <p>原密码</p>
                <input type="password" id="oldpassWold" placeholder="请输入原密码" name="passwordOld">
                <input type="password" class="positonNone" name="clone">
                <p>新密码</p>
                <input type="password" class="positonNone" name="clone">
                <input type="password" id="newpassWold" placeholder="请输入新密码" name="passwordNew1">
                <p>重复新密码</p>
                <input type="password" class="positonNone" name="clone">
                <input type="password" id="newpassWoldAgen" placeholder="请再次输入新密码" name="passwordNew2">
                <button onclick="save()">保存</button>
            </div>
        </div>
    </div>
<?php $this->load->view('index/commonFooter')?>

</body>
<script>
    function fileNumber(el, val) {

    }
    $('.control_left').load('./components/UserCenterSideMenu.html', null, function () {
        userCenterSiderActiveClass('changePassword');
    });
    function save() {
        var oldpassWold = $('#oldpassWold').val();
        var newpassWold = $('#newpassWold').val();
        var newpassWoldAgen = $('#newpassWoldAgen').val();
        if (oldpassWold == '') {
            layer.alert('请填写原密码')
            return
        } else if (oldpassWold.length < 6) {
            layer.alert('输入原密码格式不对')
            return
        }
        if (newpassWold == '') {
            layer.alert('请填写新密码')
            return
        } else if (newpassWold.length < 6) {
            layer.alert('密码必须大于6位')
            return
        }
        if (newpassWoldAgen == '') {
            layer.alert('请再次填写新密码')
            return
        }
        if (newpassWold != newpassWoldAgen) {
            layer.alert('两次输入密码不一致，请重新输入')
            return
        }
        if (newpassWold == oldpassWold) {
            layer.alert('新密码不能和原密码相同')
            return
        }
        layer.load();
        $.ajax({
            // key: '/api/UserCenter/UpdatePwdByOldPwd',
            // type: 'POST',
            url: '<?=site_url("index/PrivateAction/changePassword");?>',
            type: 'POST',
            data: {
                OldPwd: oldpassWold,
                NewPwd: newpassWold
            },
            dataType: "json",
            success: function (resp) {
                console.log(resp);
                layer.closeAll();
                if (resp.Stata == '10000') {
                    localStorage.removeItem('UserInfo');
                    sessionStorage.removeItem('UserInfo');
                    layer.alert('修改成功，请重新登陆', function (index) {
                        // navTo('login')
                        location.href = "<?=site_url('index/PublicView/login');?>";
                    });
                } else {
                    layer.msg(resp.Message);
                }
            },
            error: function () {
                console.log('error');
                layer.closeAll();
            }
        })
    }
</script>

</html>