<!DOCTYPE html>
<html lang="en">
<iframe src="components/heade.html" frameborder="0"></iframe>

<head>
    <title>关于大广节-赛事须知</title>
    <meta name="description" content="河南大学广告节">
    <meta name="keywords" content="河广节,河南大学大学生,河南大学生,广告节">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <base href="<?=base_url();?>">
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
    <link rel="stylesheet" href="./public/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./public/assets/swiper/swiper.min.css">
    <link rel="stylesheet" href="./public/styles/base.css">
    <link rel="stylesheet" href="./public/styles/common.css">
    <link rel="stylesheet" href="./public/styles/index.css">
    <link rel="stylesheet" href="./public/styles/about.css">
    <link rel="stylesheet" href="./public/styles/header.css">
    <link rel="stylesheet" href="./public/styles/footer.css">

    <script src="./public/assets/jquery-3.2.1.js"></script>
    <script src="./public/assets/baiduTemplate.js"></script>
    <script src="./public/assets/swiper/swiper.min.js"></script>
    <script src="./public/assets/layer/layer.js"></script>
    <script src="./public/utils/render.request.js"></script>
    <script src="./public/utils/render.utils.js"></script>
    <script src="./public/utils/common.js"></script>
    <script src="./public/script/common.js"></script>
</head>

<body>
<?php $this->load->view('index/head_top')?>
    <!-- 轮播 -->
    <div id="commonBanner">
        <?php $this->load->view('index/shuffling')?>
    </div>
    <!-- 内容部分 -->
    <div id="control_center">
        <div class="container">
            <div class="control_left">
                <div class="title">
                    <p>联系我们</p>
                    <p>CONTACT US</p>
                </div>
                <ul class="nav">
                    <li class="active">联系我们</li>
                </ul>
            </div>
            <div class="control_right">
                <div>
                    <p class="itemName">联系我们</p>
                    <p class="newTips cantactTips nima">
                        <span class="line">CONTACT US</span>
                    </p>
                    <div class="contact_content">
                        <p class="contactTips">联系人：王老师、陈老师 <br>电话：0000000000 &nbsp;&nbsp; 000000000000
                            <br>官方QQ群：0000000005 <br>邮箱：0000000000000000
                            <br>周六、日值班电话（9:00-18:00）：0000000000000008 <br>(微信同号，联系时请告知你的姓名、学校、年级)</p>
                        <div class="ggcol-md-5">
                            <div class="er-code">
                                <img src="./images/contact/weibo.png" alt="">
                            </div>
                            <span>大广节新浪微博二维码</span>
                        </div>
                        <div class="ggcol-md-5">
                            <div class="er-code">
                                <img src="./images/contact/guanwei.png" alt="">
                            </div>
                            <span>大广节微信二维码</span>
                        </div>
                        <div class="contact_call clearfix">
                            <div>
                                <div class="img">
                                    <img src="./images/contact/email.png" alt="">
                                </div>
                                <p class="name">邮箱</p>
                                <p class="techer"></p>
                                <p class="tell">service_ad@shuad.net</p>
                                <span class="after"></span>
                            </div>
                            <div>
                                <div class="img">
                                    <img src="./images/contact/tell.png " alt="">
                                </div>
                                <p class="name">电话</p>
                                <p class="techer">王老师、陈老师</p>
                                <p class="tell">00000000000</p>
                                <span class="after"></span>
                            </div>
                            <div>
                                <div class="img">
                                    <img src="./images/contact/qq.png" alt="">
                                </div>
                                <p class="name">QQ</p>
                                <p class="techer"></p>
                                <p class="tell">QQ群:000000000</p>
                                <span class="after"></span>
                            </div>
                            <div>
                                <div class="img">
                                    <img src="./images/contact/phone.png " alt="">
                                </div>
                                <p class="name">手机</p>
                                <p class="techer">周六、日(0:00-18:00)</p>
                                <p class="tell">00000000000000008</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
<?php $this->load->view('index/commonFooter')?>

</body>
<script>

    var init = function () {
        //主体内容导航
        $('.control_left .nav li ').click(function () {
            $(this).addClass('active').siblings().removeClass('active');
        })
        //  头部导航切换 elName为默认选中的标签  
        // navHeder('homePage')
    }
    window.onload = function () {
        init()
    }
</script>

</html>