<!DOCTYPE html>
<html lang="en">

<head>
    <title>评委介绍</title>
    <meta name="description" content="河南大学广告节">
    <meta name="keywords" content="河广节,河南大学大学生,河南大学生,广告节">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <base href="<?=base_url();?>">
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
    <link rel="stylesheet" href="./public/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./public/assets/swiper/swiper.min.css">
    <link rel="stylesheet" href="./public/styles/base.css">
    <link rel="stylesheet" href="./public/styles/common.css">
    <link rel="stylesheet" href="./public/styles/index.css">
    <link rel="stylesheet" href="./public/styles/about.css">
    <link rel="stylesheet" href="./public/styles/header.css">
    <link rel="stylesheet" href="./public/styles/footer.css">
    <link rel="stylesheet" href="./public/styles/JudgesIntroduce.css">

    <script src="./public/assets/jquery-3.2.1.js"></script>
    <script src="./public/assets/baiduTemplate.js"></script>
    <script src="./public/assets/swiper/swiper.min.js"></script>
    <script src="./public/assets/layer/layer.js"></script>
    <script src="./public/utils/render.request.js"></script>
    <script src="./public/utils/render.utils.js"></script>
    <script src="./public/utils/common.js"></script>
    <script src="./public/script/common.js"></script>
    <script src="./public/script/JudgesIntroduce.js"></script>
</head>

<body>
<?php $this->load->view('index/head_top')?>
    <!-- 轮播 -->
    <div id="commonBanner">
        <?php $this->load->view('index/shuffling')?>
    </div>
    <div id="Judges-introduce">
        <!-- 内容部分 -->
        <div id="control_center">
            <div class="container">
                <div class="control_left">
                    <div class="title">
                        <p>评委介绍</p>
                        <p>INTRODUCE</p>
                    </div>
                    <ul class="nav" id="JudgesPeriod">
                        <li class="employmentSideMenu active" onclick="changeSideMenu(0,'')">全部</li>
                        <li class="employmentSideMenu" onclick="changeSideMenu(1,'')">十八届</li>
                    </ul>
                </div>
                <div class="control_right" id="Judges-list">
                    <div id="Judges-title">
                        <p class="itemName">评委介绍</p>
                        <p class="newTips">
                            <span class="line before_w270">INTRODUCTION OF JUDGES</span>
                        </p>
                    </div>
                    <div class="select_item">
                        <div class="select_main" id="JudgesTypeList">
                            <a style="display:inline-block" href="<?php echo site_url('/index/PublicView/judges_more/') ?>"><div class="btn active_btn" >全部</div></a>
                            <?php foreach ($type as $v):?>
                            <a style="display:inline-block" href="<?php echo site_url('/index/PublicView/judges_more/' . $v['TypeId']) ?>"><div class="btn"><?=$v['TypeName']?></div></a>

                            <?php endforeach;?>
                        </div>
                    </div>
                    <div id="JudgesList">
                        <?php foreach ($judges as $v):?>
                        <div class="Judges-item" onmouseover="showCoverCeng(this)" onmouseleave="hideCoverCeng(this)"
                            onclick="readDetail('')">
                            <img class="Judges-pic" src="<?php echo base_url('judges/'.$v['Picture']);?>" alt="">
                            <div class="Judges-name"> <?=$v['Name']?><img class="go" src="./images/grayGo.png" alt=""
                                    style="opacity: 0;"> </div>
                            <div class="cover-ceng top100">
                                <div class="text"><?=$v['Position']?></div>
                            </div>
                        </div>
                        <?php endforeach;?>
                        <!--<div class="Judges-item" onmouseover="showCoverCeng(this)" onmouseleave="hideCoverCeng(this)"
                            onclick="readDetail('')">
                            <img class="Judges-pic" src="https://heguangjie." alt="">
                            <div class="Judges-name"> 孙二黑 <img class="go" src="../../images/grayGo.png" alt=""
                                    style="opacity: 0;"> </div>
                            <div class="cover-ceng top100">
                                <div class="text">灵智精实广告有限公司上海分公司 上海总经理兼中国区首席创意官</div>
                            </div>
                        </div>
                        <div class="Judges-item" onmouseover="showCoverCeng(this)" onmouseleave="hideCoverCeng(this)"
                            onclick="readDetail('')"> <img class="Judges-pic" src="https://heguangjie." alt="">
                            <div class="Judges-name"> 任师迁 <img class="go" src="../../images/grayGo.png" alt=""
                                    style="opacity: 0;"> </div>
                            <div class="cover-ceng top100">
                                <div class="text">中原消费金融股份有限公司 品牌管理中心负责人 </div>
                            </div>
                        </div>
                        <div class="Judges-item" onmouseover="showCoverCeng(this)" onmouseleave="hideCoverCeng(this)"
                            onclick="readDetail('')"> <img class="Judges-pic" src="https://heguangjie." alt="">
                            <div class="Judges-name"> 吴景璇 <img class="go" src="../../images/grayGo.png" alt=""> </div>
                            <div class="cover-ceng">
                                <div class="text">杭州爱柏森生物科技有限公司 创始人兼总裁 </div>
                            </div>
                        </div>
                        <div class="Judges-item" onmouseover="showCoverCeng(this)" onmouseleave="hideCoverCeng(this)"
                            onclick="readDetail('')"> <img class="Judges-pic" src="https://heguangjie." alt="">
                            <div class="Judges-name"> 牟亚静 <img class="go" src="../../images/grayGo.png" alt=""> </div>
                            <div class="cover-ceng">
                                <div class="text">爱奇艺全国渠道中心 总经理</div>
                            </div>
                        </div>
                        <div class="Judges-item" onmouseover="showCoverCeng(this)" onmouseleave="hideCoverCeng(this)"
                            onclick="readDetail('')"> <img class="Judges-pic" src="https://heguangjie." alt="">
                            <div class="Judges-name"> 査道存 <img class="go" src="../../images/grayGo.png" alt=""> </div>
                            <div class="cover-ceng">
                                <div class="text">上海剧星传媒股份有限公司 董事长兼总裁</div>
                            </div>
                        </div>-->

                        <div class="Judges-item" style="border: none;box-shadow: none;"></div>
                        <div class="Judges-item" style="border: none;box-shadow: none;"></div>
                        <div class="Judges-item" style="border: none;box-shadow: none;"></div>
                    </div>
                    <div id="navigationList">
                        <div class="Page navigation">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a href="javascript:void(0);"
                                            onclick="lastPage({page: '-1', num: '30', Period: '', TypeGuid: ''})"
                                            aria-label="Previous" style="cursor: not-allowed;">
                                            <span aria-hidden="true">上一页</span> </a> </li>
                                    <li>
                                        <a href="javascript:void(0);" class="pageNum activePage"
                                            onclick="getJudgesListByGuid({page: '0', num: '30', Period: '', TypeGuid: ''})">1</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"
                                            onclick="nextPage({page: '1', num: '30', Period: '', TypeGuid: ''})"
                                            aria-label="Next" style="">
                                            <span aria-hidden="true">下一页</span> </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
<?php $this->load->view('index/commonFooter')?>


    <script>



    </script>
</body>

</html>