<!DOCTYPE html>
<html lang="en">
<iframe src="components/heade.html" frameborder="0"></iframe>

<head>
    <title>关于大广节-赛事须知</title>
    <meta name="description" content="河南大学广告节">
    <meta name="keywords" content="河广节,河南大学大学生,河南大学生,广告节">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <base href="<?=base_url();?>">
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
    <link rel="stylesheet" href="./public/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./public/assets/swiper/swiper.min.css">
    <link rel="stylesheet" href="./public/styles/base.css">
    <link rel="stylesheet" href="./public/styles/common.css">
    <link rel="stylesheet" href="./public/styles/index.css">
    <link rel="stylesheet" href="./public/styles/about.css">
    <link rel="stylesheet" href="./public/styles/header.css">
    <link rel="stylesheet" href="./public/styles/footer.css">

    <script src="./public/assets/jquery-3.2.1.js"></script>
    <script src="./public/assets/baiduTemplate.js"></script>
    <script src="./public/assets/swiper/swiper.min.js"></script>
    <script src="./public/assets/layer/layer.js"></script>
    <script src="./public/utils/render.request.js"></script>
    <script src="./public/utils/render.utils.js"></script>
    <script src="./public/utils/common.js"></script>
    <script src="./public/script/common.js"></script>
</head>

<body>
<?php $this->load->view('index/head_top')?>
    <!-- 轮播 -->
    <div id="commonBanner">

        <?php $this->load->view('index/shuffling')?>
    </div>
    <!-- 内容部分 -->
    <div id="control_center">
        <div class="container">
            <?php $this->load->view('index/controlLeft')?>
            <div class="control_right">
                <div>
                    <p class="fileLoader">
                        <a href="download/广告节命题策略单.zip" target="_blank" download="download/广告节命题策略单.zip">

                            <img src="./images/loadeicon.png" alt=""><span>文件下载</span>
                        </a>
                    </p>
                    <div id="topicList">
                        <div class="load clearfix">
                            <div class="">
                                <p>命题类</p>
                                <div class="itemC"
                                    onclick="navTo('brandProposition', {guid: '', topicType: 1})">
                                    <img src="https://heguanhjie."
                                        alt="">
                                    <div class="display">
                                        <p class="one_txt_cut">独家总冠名中原消费金融——下一站,等你</p>
                                        <p class="txt_cut_2">品牌命题独家总冠名中原消费金融——下一站,等你</p>
                                    </div>
                                </div>
                                <div class="itemC"
                                    onclick="navTo('brandProposition', {guid: '', topicType: 1})">
                                    <img src="https://heguanhjie."
                                        alt="">
                                    <div class="display">
                                        <p class="one_txt_cut">独家视频平台战略合作伙伴 爱奇艺——青春有你</p>
                                        <p class="txt_cut_2">品牌命题独家视频平台战略合作伙伴 爱奇艺——青春有你</p>
                                    </div>
                                </div>
                                <div class="itemC"
                                    onclick="navTo('brandProposition', {guid: '', topicType: 1})">
                                    <img src="https://heguanhjie."
                                        alt="">
                                    <div class="display">
                                        <p class="one_txt_cut">新飘影植觉系列创意大赛</p>
                                        <p class="txt_cut_2">品牌命题新飘影植觉系列创意大赛</p>
                                    </div>
                                </div>
                                <div class="itemC"
                                    onclick="navTo('brandProposition', {guid: '', topicType: 2})">
                                    <img src="https://heguanhjie."
                                        alt="">
                                    <div class="display">
                                        <p class="one_txt_cut">上海市市场监督管理局公益命题——祝贺祖国70华诞</p>
                                        <p class="txt_cut_2">公益命题上海市市场监督管理局公益命题——祝贺祖国70华诞</p>
                                    </div>
                                </div>
                            </div>
                            <div class="flet">
                                <p>非命题类</p>
                                <div class="itemC"
                                    onclick="navTo('brandProposition', {guid: '', topicType: 0})">
                                    <img src="https://heguanhjie."
                                        alt="">
                                    <div class="display">
                                        <p class="one_txt_cut">视觉广告</p>
                                        <p class="txt_cut_2">视觉广告</p>
                                    </div>
                                </div>
                                <div class="itemC"
                                    onclick="navTo('brandProposition', {guid: '', topicType: 0})">
                                    <img src="https://heguanhjie."
                                        alt="">
                                    <div class="display">
                                        <p class="one_txt_cut">短视频广告</p>
                                        <p class="txt_cut_2">短视频广告</p>
                                    </div>
                                </div>
                                <div class="itemC"
                                    onclick="navTo('brandProposition', {guid: '', topicType: 0})">
                                    <img src="https://heguanhjie."
                                        alt="">
                                    <div class="display">
                                        <p class="one_txt_cut">影视广告</p>
                                        <p class="txt_cut_2">影视广告</p>
                                    </div>
                                </div>
                                <div class="itemC"
                                    onclick="navTo('brandProposition', {guid: '', topicType: 0})">
                                    <img src="https://heguanhjie."
                                        alt="">
                                    <div class="display">
                                        <p class="one_txt_cut">营销策划</p>
                                        <p class="txt_cut_2">营销策划</p>
                                    </div>
                                </div>
                                <div class="itemC"
                                    onclick="navTo('brandProposition', {guid: '', topicType: 0})">
                                    <img src="https://heguanhjie."
                                        alt="">
                                    <div class="display">
                                        <p class="one_txt_cut">文创作品</p>
                                        <p class="txt_cut_2">文创作品</p>
                                    </div>
                                </div>
                                <div class="itemC"
                                    onclick="navTo('brandProposition', {guid: '', topicType: 0})">
                                    <img src="https://heguanhjie."
                                        alt="">
                                    <div class="display">
                                        <p class="one_txt_cut">互动广告</p>
                                        <p class="txt_cut_2">互动广告</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php $this->load->view('index/commonFooter')?>
</body>
<script>

    $('.control_left').load('./components/aboutCommonSideMenu.html', null, function () {
        $('.control_left .nav li').removeClass('active');
        $('.control_left .nav li[name=load]').addClass('active');
    });
    // image作品list
    var workListsArr = [];
    var init = function () {
        //主体内容导航
        $('.control_left .nav li ').click(function () {
            $(this).addClass('active').siblings().removeClass('active');
        })

    }
    window.onload = function () {
        //接口数据           
        init()
    }
</script>

</html>