<!DOCTYPE html>
<html lang="en">
<iframe src="components/heade.html" frameborder="0"></iframe>

<head>
    <title>关于大广节-赛事须知</title>
    <meta name="description" content="河南大学广告节">
    <meta name="keywords" content="河广节,河南大学大学生,河南大学生,广告节">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <base href="<?=base_url();?>">
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
    <link rel="stylesheet" href="./public/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./public/assets/swiper/swiper.min.css">
    <link rel="stylesheet" href="./public/styles/base.css">
    <link rel="stylesheet" href="./public/styles/common.css">
    <link rel="stylesheet" href="./public/styles/index.css">
    <link rel="stylesheet" href="./public/styles/about.css">
    <link rel="stylesheet" href="./public/styles/header.css">
    <link rel="stylesheet" href="./public/styles/footer.css">

    <script src="./public/assets/jquery-3.2.1.js"></script>
    <script src="./public/assets/baiduTemplate.js"></script>
    <script src="./public/assets/swiper/swiper.min.js"></script>
    <script src="./public/assets/layer/layer.js"></script>
    <script src="./public/utils/render.request.js"></script>
    <script src="./public/utils/render.utils.js"></script>
    <script src="./public/utils/common.js"></script>
    <script src="./public/script/common.js"></script>
</head>

<body>
<?php $this->load->view('index/head_top')?>
    <!-- 轮播 -->
    <div id="commonBanner">

        <?php $this->load->view('index/shuffling')?>
    </div>
    <!-- 内容部分 -->
    <div id="control_center">
        <div class="container">
            <?php $this->load->view('index/controlLeft')?>
            <div class="control_right">
                <div>
                    <p class="fileLoader">
                        <a href="<?php echo base_url('propositions_File/第十八届大学生广告节命题策略单.zip');?>" target="_blank" >

                            <img src="./images/loadeicon.png" alt=""><span>文件下载</span>
                        </a>
                    </p>
                    <div id="topicList">
                        <div class="load clearfix">
                            <div class="">
                                <p>命题类</p>
                                <?php foreach ($type as $v):?>
                                <a style="display: block;list-style: none" href="<?php echo site_url() .'/index/PublicView/proposition_detail/'.$v['FileId'] ?>">
                                    <div class="itemC"
                                         onclick="">
                                        <img src="<?php echo base_url('propositions_Icon/'.$v['Icon']);?>"
                                             alt="">
                                        <div class="display">
                                            <p class="one_txt_cut"> <?=$v['Title']?></p>
                                            <p class="txt_cut_2"> <?=$v['Title']?></p>
                                        </div>
                                    </div>
                                </a>
                                <?php endforeach;?>
                            </div>
                            <div class="flet">
                                <p>非命题类</p>
                                <?php foreach ($type1 as $v):?>
                                <a style="display: block;list-style:none" href="<?php echo site_url() .'/index/PublicView/proposition_detail/'.$v['FileId'] ?>">
                                    <div class="itemC"
                                         onclick="navTo('brandProposition', {guid: '', topicType: 0})">
                                        <img src="<?php echo base_url('propositions_Icon/'.$v['Icon']);?>"
                                             alt="">
                                        <div class="display">
                                            <p class="one_txt_cut"><?=$v['Title']?></p>
                                            <p class="txt_cut_2"><?=$v['Title']?></p>
                                        </div>
                                    </div>
                                </a>
                                <?php endforeach;?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php $this->load->view('index/commonFooter')?>
</body>
<script>

    $('.control_left').load('./components/aboutCommonSideMenu.html', null, function () {
        $('.control_left .nav li').removeClass('active');
        $('.control_left .nav li[name=load]').addClass('active');
    });
    // image作品list
    var workListsArr = [];
    var init = function () {
        //主体内容导航
        $('.control_left .nav li ').click(function () {
            $(this).addClass('active').siblings().removeClass('active');
        })

    }
    window.onload = function () {
        //接口数据           
        init()
    }
</script>

</html>