<!DOCTYPE html>
<html lang="en">
<iframe src="components/heade.html" frameborder="0"></iframe>

<head>
    <title>更多新闻</title>
    <meta name="description" content="河南大学广告节">
    <meta name="keywords" content="河广节,河南大学大学生,河南大学生,广告节">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="renderer" content="webkit">

    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <base href="<?=base_url();?>">
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
    <link rel="stylesheet" href="./public/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./public/assets/swiper/swiper.min.css">
    <link rel="stylesheet" href="./public/styles/base.css">
    <link rel="stylesheet" href="./public/styles/common.css">
    <link rel="stylesheet" href="./public/styles/index.css">
    <link rel="stylesheet" href="./public/styles/about.css">
    <link rel="stylesheet" href="./public/styles/header.css">
    <link rel="stylesheet" href="./public/styles/footer.css">
    <link rel="stylesheet" href="./public/styles/mycreation.css">

    <script src="./public/assets/jquery-3.2.1.js"></script>
    <script src="./public/assets/baiduTemplate.js"></script>
    <script src="./public/assets/swiper/swiper.min.js"></script>
    <script src="./public/assets/layer/layer.js"></script>
    <script src="./public/utils/render.request.js"></script>
    <script src="./public/utils/render.utils.js"></script>
    <script src="./public/utils/common.js"></script>
    <script src="./public/script/common.js"></script>
</head>

<body>
    <?php $this->load->view('index/head_top')?>
    <!-- 轮播 -->
    <div id="commonBanner">
        <?php $this->load->view('index/shuffling')?>
    </div>
    <!-- 内容部分 -->
    <div id="control_center">
        <div class="container">
            <div class="control_left">
                <div class="title">
                    <p>新闻动态</p>
                    <p>NEWS</p>
                </div>
                <ul class="nav" id="periodList">
                    <li class="active" onclick="tageNav('')">全部</li>
                    <li class=" ">十八届</li>
                </ul>
            </div>
            <div class="control_right" id="newsList">
                <div id="newListType" style="padding-bottom: 0;">
                    <div class="fileNewType">
                        <?php foreach ($type as $v):?>
                        <a style="display:inline-block" href="<?php echo site_url('/index/PublicView/news_more/' . $v['TypeId']) ?>"><button class=""><?=$v['TypeName']?></button></a>

                        <?php endforeach;?>
                    </div>
                </div>
                <div id="newsListContent">
                    <?php foreach ($news as $v):?>
                    <div class="newsTitle_right " >
                        <div class="clearfix">
                            <div class="left"><img src="<?php echo base_url('uploads/'.$v['Picture']);?>" alt=""></div>
                            <div class="right top_news">
                                <h2 class="txt_cut_02"> <?=$v['Title']?> </h2>
                                <p class="question txt_cut_4"> 5月31日，第十八届上海国际大学生广告节... </p>
                                <div class="time"><?php $datestring = '%Y-%m-%d';echo mdate($datestring,$v['Date']);?><div class="arrow">
                                        <div> <img src="./images/arrowRight.png" alt=""> <img
                                                src="./images/arrowRight2.png" alt=""> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <?php endforeach;?>
                    <!--
                    <div class="newsTitle_right " onclick="getNewsDetail('')">
                        <div class="clearfix">
                            <div class="left"><img src="https://heguanhjie." alt=""></div>
                            <div class="right top_news">
                                <h2 class="txt_cut_02"> 中原消费金融特设奖重磅揭晓！只要你有创意，5万现金+超多实物奖品等你收入囊中！ </h2>
                                <p class="question txt_cut_4"> 本届大广节独家总冠名中原消费金融，特别追... </p>
                                <div class="time">2019-06-24<div class="arrow">
                                        <div> <img src="../images/arrowRight.png" alt=""> <img
                                                src="../images/arrowRight2.png" alt=""> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="newsTitle_right " onclick="getNewsDetail('')">
                        <div class="clearfix">
                            <div class="left"><img src="https://heguanhjie." alt=""></div>
                            <div class="right top_news">
                                <h2 class="txt_cut_02"> 【品牌命题】青春敢做梦，创意凭“植”觉，新飘影命题策略单请注意查收！ </h2>
                                <p class="question txt_cut_4"> 新飘影命题策略单赶紧收好！ </p>
                                <div class="time">2019-06-05<div class="arrow">
                                        <div> <img src="../images/arrowRight.png" alt=""> <img
                                                src="../images/arrowRight2.png" alt=""> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="newsTitle_right " onclick="getNewsDetail('')">
                        <div class="clearfix">
                            <div class="left"><img src="https://heguanhjie." alt=""></div>
                            <div class="right top_news">
                                <h2 class="txt_cut_02"> 【品牌命题】爱奇艺向有创意、脑洞大、年少有为的你发出邀请！国民女团由你打造！ </h2>
                                <p class="question txt_cut_4"> 本届大广节独家视频平台战略合作伙伴
                                    爱... </p>
                                <div class="time">2019-06-06<div class="arrow">
                                        <div> <img src="../images/arrowRight.png" alt=""> <img
                                                src="../images/arrowRight2.png" alt=""> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="newsTitle_right " onclick="getNewsDetail('')">
                        <div class="clearfix">
                            <div class="left"><img src="https://heguanhjie." alt=""></div>
                            <div class="right top_news">
                                <h2 class="txt_cut_02"> 【公益命题】上海市市场监督管理局“祝贺祖国70华诞”公益命题出炉，火速来战！ </h2>
                                <p class="question txt_cut_4"> 本届大广节上海市市场监督管理局公益命题—... </p>
                                <div class="time">2019-05-28<div class="arrow">
                                        <div> <img src="./images/arrowRight.png" alt=""> <img
                                                src="./images/arrowRight2.png" alt=""> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="newsTitle_right " onclick="getNewsDetail('')">
                        <div class="clearfix">
                            <div class="left"><img src="https://heguanhjie." alt=""></div>
                            <div class="right top_news">
                                <h2 class="txt_cut_02"> 【非命题】第18届上海国际大学生广告节六大非命题类别发布 </h2>
                                <p class="question txt_cut_4"> 第十八届上海国际大学生广告节非命题来啦！... </p>
                                <div class="time">2019-06-06<div class="arrow">
                                        <div> <img src="../images/arrowRight.png" alt=""> <img
                                                src="../images/arrowRight2.png" alt=""> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="newsTitle_right " onclick="getNewsDetail('')">
                        <div class="clearfix">
                            <div class="left"><img src="https://heguanhjie." alt=""></div>
                            <div class="right top_news">
                                <h2 class="txt_cut_02"> 【奖金设置】凭实力瓜分近40万的大赛奖金，详情登陆“第18届上海国际大学生广告节官网” </h2>
                                <p class="question txt_cut_4"> 登陆“官网”收获最全面的官方信息
                                    ge... </p>
                                <div class="time">2019-06-10<div class="arrow">
                                        <div> <img src="../images/arrowRight.png" alt=""> <img
                                                src="../images/arrowRight2.png" alt=""> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="newsTitle_right " onclick="getNewsDetail('')">
                        <div class="clearfix">
                            <div class="left"><img src="https://heguanhjie." alt=""></div>
                            <div class="right top_news">
                                <h2 class="txt_cut_02"> 【命题解读】高考落幕，未来可期，中原消费金融在人生的下一站等你！ </h2>
                                <p class="question txt_cut_4"> 2019年高考已经落下帷幕
                                    暂且不管成... </p>
                                <div class="time">2019-06-13<div class="arrow">
                                        <div> <img src="../images/arrowRight.png" alt=""> <img
                                                src="../images/arrowRight2.png" alt=""> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="Page navigation">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li> <a href="javascript:void(0);" onclick="lastPage(0)" aria-label="Previous"
                                        style="cursor: not-allowed;"> <span aria-hidden="true">上一页</span> </a> </li>

                                <li><a href="javascript:void(0);" class="pageNum activePage"
                                        onclick="getNewsList({offset:'0',limit:8,  periodGuid:baseGuid, NewsType:baseNewType,})">1</a>
                                </li>
                                <li><a href="javascript:void(0);" class="pageNum "
                                        onclick="getNewsList({offset:'1',limit:8,  periodGuid:baseGuid, NewsType:baseNewType,})">2</a>
                                </li>
                                <li><a href="javascript:void(0);" class="pageNum "
                                        onclick="getNewsList({offset:'2',limit:8,  periodGuid:baseGuid, NewsType:baseNewType,})">3</a>
                                </li>
                                <li><a href="javascript:void(0);" class="pageNum "
                                        onclick="getNewsList({offset:'3',limit:8,  periodGuid:baseGuid, NewsType:baseNewType,})">4</a>
                                </li>
                                <li><a href="javascript:void(0);" class="pageNum "
                                        onclick="getNewsList({offset:'4',limit:8,  periodGuid:baseGuid, NewsType:baseNewType,})">5</a>
                                </li>
                                <li><a href="javascript:void(0);" class="pageNum "
                                        onclick="getNewsList({offset:'5',limit:8,  periodGuid:baseGuid, NewsType:baseNewType,})">6</a>
                                </li>
                                <li><a href="javascript:void(0);" class="pageNum "
                                        onclick="getNewsList({offset:'6',limit:8,  periodGuid:baseGuid, NewsType:baseNewType,})">7</a>
                                </li>
                                <li><a href="javascript:void(0);" class="pageNum "
                                        onclick="getNewsList({offset:'7',limit:8,  periodGuid:baseGuid, NewsType:baseNewType,})">8</a>
                                </li>
                                <li><a href="javascript:void(0);" class="pageNum "
                                        onclick="getNewsList({offset:'8',limit:8,  periodGuid:baseGuid, NewsType:baseNewType,})">9</a>
                                </li>
                                <li><a href="javascript:void(0);" class="pageNum "
                                        onclick="getNewsList({offset:'9',limit:8,  periodGuid:baseGuid, NewsType:baseNewType,})">10</a>
                                </li>
                                <li><a href="javascript:void(0);" class="pageNum "
                                        onclick="getNewsList({offset:'10',limit:8,  periodGuid:baseGuid, NewsType:baseNewType,})">11</a>
                                </li>
                                <li> <a href="javascript:void(0);" onclick="nextPage(0)" aria-label="Next" style="">
                                        <span aria-hidden="true">下一页</span> </a> </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="control_right" id="showDetail">
                <div id="showDetailtmpl"></div>
                <div id="newsContent">
                </div>
            </div>
        </div>
    </div>
    <?php $this->load->view('index/commonFooter')?>
    <script src="./public/script/common.js"></script>
    <script>

    </script>
</body>

</html>
<style>
    #newsContent img {
        width: 90%;
    }
</style>