<!DOCTYPE html>
<html lang="en">
<iframe src="./components/heade.html" frameborder="0"></iframe>

<head>
    <title>个人中心-我的获奖</title>
    <meta charset="UTF-8">
    <meta name="description" content="河南大学广告节">
    <meta name="keywords" content="河广节,河南大学大学生,河南大学生,广告节">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
    <link rel="stylesheet" href="../public/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../public/assets/swiper/swiper.min.css">
    <link rel="stylesheet" href="../public/styles/base.css">
    <link rel="stylesheet" href="../public/styles/common.css">
    <link rel="stylesheet" href="../public/styles/index.css">
    <link rel="stylesheet" href="../public/styles/about.css">
    <link rel="stylesheet" href="../public/styles/header.css">
    <link rel="stylesheet" href="../public/styles/footer.css">
    <link rel="stylesheet" href="../public/styles/mycreation.css">
    <link rel="stylesheet" href="../public/styles/myAward.css">

    <script src="../public/assets/jquery-3.2.1.js"></script>
    <script src="../public/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/assets/baiduTemplate.js"></script>
    <script src="../public/assets/swiper/swiper.min.js"></script>
    <script src="../public/assets/layer/layer.js"></script>
    <script src="../public/utils/render.request.js"></script>
    <script src="../public/utils/render.utils.js"></script>
    <script src="../public/utils/common.js"></script>
    <script src="../public/script/common.js"></script>
    <script src="../public/script/myAward.js"></script>
</head>

<body>
    <!--头部导航-->
    <div id="commonHeader">
        <header class="headerBase">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                        data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="../images/logo.png" class="navbar-brand" onclick="navTo('../index')" alt="">
                </div>
                <nav id="bs-navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li onclick="" name="index">
                            <a href="../index.html">首页</a>
                        </li>

                        <li onclick="" name="about">
                            <a href="about.html">关于大广节</a>
                        </li>
                        <li onclick="" name="news" class="active">
                            <a href="moreNews.html">新闻动态</a>
                        </li>
                        <li onclick="" name="judgesIntroduce">
                            <a href="JudgesIntroduce.html">评审介绍</a>
                        </li>

                        <li onclick="" name="linkus">
                            <a href="contact.html">联系我们</a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right" id="unLogin">
                        <!-- <li onclick=""><a href="../pages/login.html">登录</a>
                                        </li>
                                        <li onclick=""><a href="../pages/register.html">注册</a>
                                        </li> -->

                    </ul>
                    <div class="nav navbar-nav navbar-right" id="userPic" style=""
                        onmouseleave="hideUserImgList(event)">
                        <img id="user-image" onmouseenter="getUserCenterList(event)" src="../images/touxiang.jpg"
                            width="40" alt="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div id="user-navbar" class="hideList">
                            <div class="navbar-content">
                                    <a href="../pages/user-info.html"> <div class="navbar-item" onclick="" name="user-info">个人信息</div></a>
                                    <a href="../pages/upload.html"> <div class="navbar-item" onclick="" name="upload">作品上传</div></a>
                                     <a href="../pages/mycreation.html"> <div class="navbar-item" onclick="" name="mycreation">我的作品</div></a>
                                    <a href="../pages/changePassword.html"> <div class="navbar-item" onclick="" name="changePassword">修改密码</div></a>
                                     <a href="../heguangjie/pages/login.html"></a><div class="navbar-item" onclick="">安全退出</div></a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <div class="creation_main container">
            <div class="control_left">
                <div class="control_left UserCenterMenu">
                    <div class="title">
                        <p>个人中心</p>
                        <p>PERSONAL CENTER</p>
                    </div>
                    <ul class="nav">
                        <a href="./pages/user-info.html">
                            <li onclick="" name="user-info">个人信息</li></a>
                            <a href="./upload.html">
                                <li onclick="" name="upload">作品上传</li></a>
                                <a href="./mycreation.html">
                                    <li onclick="" name="mycreation">我的作品</li></a>
                                    <a href="./myAward.html">
                                        <li name="myAward" onclick="" class="active">我的获奖</li></a>
                                        <a href="./changePassword.html">
                                            <li name="changePassword" onclick="">修改密码</li></a>
                    </ul>
                </div>
            </div>
            <div class="right_content">
                <div class="positonNull" id="position_canvacs">
                </div>

                <div class="right_head">
                    <span class="right_title">我的获奖</span>
                    <div class="right_part" id="workNum">共<span id="AwardNumber">0</span>件获奖作品</div>
                </div>
                <div class="right-main">
                    <div class="PeriodAwardList" id="PeriodAwardList">
                        <div class="PeriodInfo">第十八届上海国际大学生广告节</div>
                        <div class="myAwardList" id="myAwardList">
                            <p class="dataNull">本届暂无获奖信息</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- 底部 -->
        <div id="commonFooter">
            <footer>
                <div class="container content">
                    <div class="row">
                        <div class="col-md-7 right">
                            <div class="meun">
                                <ul>
                                    <li><a href="pages/about.html" onclick="">关于河广节</a></li>
                                    <li><a href="pages/moreNews.html" onclick="">新闻动态</a></li>
                                    <li><a href="pages/JudgesIntroduce.html" onclick="">评审介绍</a></li>
                                    <li><a href="pages/contact.html" onclick="navTo('contact')">联系我们</a></li>

                                </ul>
                            </div>
                            <div class="about-us" id="CompanyList">
                                <p> <span>指导单位:</span> <span style="margin-left: 3px;"> <a href=""
                                            style="color: #fff">哈哈哈哈啊哈哈哈哈</a> <span style="color: #fff">、</span> <a
                                            href="" style="color: #fff">哈哈哈哈啊哈哈哈哈会</a> <span
                                            style="color: #fff">、</span> <a href="" style="color: #fff">哈哈哈哈啊哈哈</a>
                                        <span style="color: #fff"></span> </span> </p>
                                <p> <span>主办单位:</span> <span style="margin-left: 3px;"> <a href=""
                                            style="color: #fff">哈哈哈哈啊</a> <span style="color: #fff">、</span> <a href=""
                                            style="color: #fff">河南大学</a> <span style="color: #fff"></span> </span> </p>
                                <p> <span>独家承办单位:</span> <span style="margin-left: 3px;"> <a href=""
                                            style="color: #fff">哈哈哈哈哈哈哈哈哈</a> <span style="color: #fff"></span> </span>
                                </p>
                                <p> <span>总冠名品牌:</span> <span style="margin-left: 3px;"> <a href=""
                                            style="color: #fff">哈哈哈哈哈啊</a> <span style="color: #fff"></span> </span>
                                </p>
                            </div>
                            <div class="row about-us" style="margin-left:1px;margin-top:3px">
                                <p>联系电话：000-00000000 老师&nbsp;&nbsp;&nbsp;&nbsp;邮箱：000000000000000 </p>

                            </div>
                        </div>
                        <div class="col-md-5 row left">
                            <div class="col-md-5">
                                <div class="er-code">
                                    <img src="../images/home/weibo.png" alt="">
                                </div>
                                <span>扫一扫：关注微博</span>
                            </div>
                            <div class="col-md-5 col-md-offset-2">
                                <div class="er-code">
                                    <img src="../images/home/weixin.png" alt="">
                                </div>

                                <span>扫一扫：关注微信</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bottom">
                    <div class="container">
                        <p>@2019河南大学生广告节 备案许可证编号为：<a style="color: #2D8EF8;font-size: 12px;"
                                href="http://www.beian.miit.gov.cn/">0000000000000</a></p>
                    </div>
                </div>
            </footer>


            <script>
                // 获取首页底部公司赞助相关信息
                var CompanyListData = {
                    result: null
                };

                function getCompanyInfos() {
                    Request_.ajax({
                        // key: '/api/WebPage/IndexCompanyList',
                        // type: 'GET',
                        key: '',
                        type: '',
                        data: {},
                        dataType: "json",
                        success: function (info) {
                            if (info && info.Stata === 10000) {
                                CompanyListData.result = info.Data;
                                $.each(CompanyListData.result, function (k, v) {
                                    if (v.Title) {

                                    }
                                });
                                updataView('t:_CompanyList', 'CompanyList', CompanyListData);
                            }
                        }
                    })
                }
                getCompanyInfos();
            </script>
        </div>
        <script>
            $('#commonHeader').load('./components/newHeader.html', null, function () {
                selectHeaderActiveClass('myAward');
                // 登录按钮和登陆头像的显示隐藏逻辑
                loginBtnAndUserImg();
            })
            $('.control_left').load('./components/UserCenterSideMenu.html', null, function () {
                userCenterSiderActiveClass('myAward');
            });
            $('#commonFooter').load('./components/footer.html')
        </script>
</body>

</html>