<!DOCTYPE html>
<html lang="en">
<iframe src="./components/heade.html" frameborder="0"></iframe>

<head>
    <title>个人中心-我的获奖</title>
    <meta charset="UTF-8">
    <meta name="description" content="河南大学广告节">
    <meta name="keywords" content="河广节,河南大学大学生,河南大学生,广告节">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <base href="<?=base_url();?>">
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
    <link rel="stylesheet" href="./public/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./public/assets/swiper/swiper.min.css">
    <link rel="stylesheet" href="./public/styles/base.css">
    <link rel="stylesheet" href="./public/styles/common.css">
    <link rel="stylesheet" href="./public/styles/index.css">
    <link rel="stylesheet" href="./public/styles/about.css">
    <link rel="stylesheet" href="./public/styles/header.css">
    <link rel="stylesheet" href="./public/styles/footer.css">
    <link rel="stylesheet" href="./public/styles/mycreation.css">
    <link rel="stylesheet" href="./public/styles/myAward.css">

    <script src="./public/assets/jquery-3.2.1.js"></script>
    <script src="./public/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="./public/assets/baiduTemplate.js"></script>
    <script src="./public/assets/swiper/swiper.min.js"></script>
    <script src="./public/assets/layer/layer.js"></script>
    <script src="./public/utils/render.request.js"></script>
    <script src="./public/utils/render.utils.js"></script>
    <script src="./public/utils/common.js"></script>
    <script src="./public/script/common.js"></script>
    <script src="./public/script/myAward.js"></script>
</head>

<body>
    <?php $this->load->view('index/head_top')?>
    <div class="creation_main container">
        <?php $this->load->view('index/control_left')?>
        <div class="right_content">
            <div class="positonNull" id="position_canvacs">
            </div>

            <div class="right_head">
                <span class="right_title">我的获奖</span>
                <div class="right_part" id="workNum">共<span id="AwardNumber">0</span>件获奖作品</div>
            </div>
            <div class="right-main">
                <div class="PeriodAwardList" id="PeriodAwardList">
                    <div class="PeriodInfo">第十八届上海国际大学生广告节</div>
                    <div class="myAwardList" id="myAwardList">
                        <p class="dataNull">本届暂无获奖信息</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <?php $this->load->view('index/commonFooter')?>
    <script>
        // 获取首页底部公司赞助相关信息
        var CompanyListData = {
            result: null
        };

        function getCompanyInfos() {
            Request_.ajax({
                // key: '/api/WebPage/IndexCompanyList',
                // type: 'GET',
                key: '',
                type: '',
                data: {},
                dataType: "json",
                success: function (info) {
                    if (info && info.Stata === 10000) {
                        CompanyListData.result = info.Data;
                        $.each(CompanyListData.result, function (k, v) {
                            if (v.Title) {

                            }
                        });
                        updataView('t:_CompanyList', 'CompanyList', CompanyListData);
                    }
                }
            })
        }
        getCompanyInfos();
    </script>

    <script>
        $('.control_left').load('./components/UserCenterSideMenu.html', null, function () {
            userCenterSiderActiveClass('myAward');
        });
    </script>
</body>

</html>