<!DOCTYPE html>
<html lang="en">
<head>
    <title>个人中心</title>
    <meta name="description" content="上海国际大学生广告节" />
    <meta name="keywords" content="大广节,上海国际大学生,上海大学生,广告节" />
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <base href="<?=base_url();?>">
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico"/>
    <link rel="stylesheet" href="./public/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./public/assets/swiper/swiper.min.css">
    <link rel="stylesheet" href="./public/styles/base.css">
    <link rel="stylesheet" href="./public/styles/common.css">
    <link rel="stylesheet" href="./public/styles/index.css">
    <link rel="stylesheet" href="./public/styles/header.css">
    <link rel="stylesheet" href="./public/styles/footer.css">
    <link rel="stylesheet" href="./public/styles/user-info.css">
    <script src="./public/assets/jquery-3.2.1.js"></script>
    <script src="./public/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="./public/assets/swiper/swiper.min.js"></script>
    <script src="./public/assets/layer/layer.js"></script>
    <script src="./public/utils/render.request.js"></script>
    <script src="./public/utils/render.utils.js"></script>
    <script src="./public/assets/baiduTemplate.js"></script>
    <script src="./public/utils/common.js"></script>
    <script src="./public/script/common.js"></script>
</head>
<body>
    <?php $this->load->view('index/head_top')?>
    <div class="user-info-main container">
        <?php $this->load->view('index/control_left')?>
        <div class="upload_content">
            <div class="upload_head">
                <span class="upload_title">个人信息</span>
            </div>
            <form action="<?=site_url('index/PrivateAction/completeInfo');?>" id="userInfo" method="post">
                <div class="form_information">
                    <div class="write_info">
                        <div class="work_information info_items">
                            <div class="info_content">
                                <div class="info_item">
                                    <div class="item_name">个人编号/Personal number</div>
                                    <div class="item-txt user-no"><?=$this->session->mobile?></div>
                                </div>
                                <div class="info_item">
                                    <div class="item_name require">姓名/Name </div>
                                    <p style="font-size: 12px;color: #FFAC2A;padding-left: 8px;">涉及到获奖作品等级和奖金发放，请如实填写个人真实姓名</p>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <input class="input_box" id="name" type="text" value="<?=$userInfo['0']['name'];?>" placeholder="输入姓名">
                                        </div>
                                    </div>
                                </div>
                                <div class="info_item">
                                    <div class="item_name require">邮箱/Email</div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <input class="input_box" id="email" type="text" value="<?=$userInfo['0']['email'];?>" placeholder="输入个人邮箱"></div>
                                    </div>
                                </div>
                                <div class="info_item">
                                    <div class="item_name">手机号码/Mobile phone</div>
                                    <div class="item-txt" id="phoneNumber"><?=$this->session->mobile?></div>
                                </div>
                                <div class="info_item">
                                    <div class="item_name require">学校名称/School name</div>
                                    <div class="row">
                                        <div class="col-md-5 mySchoolBox" style="position: relative">
                                            <input class="input_box" data-guid="" id="schoolName" type="text" value="<?=$userInfo['0']['schoolName'];?>" placeholder="输入学校名称">
                                            <div class="school-list" style="display: none;"> </div>
                                            <div class="select_arrow"></div>
                                        </div>
                                        <div class="col-md-7 input-tips">
                                            没有您的学校？<a data-toggle="modal" data-target="#clickHere">请点击这里</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="info_item">
                                    <div class="item_name require">专业/Professional</div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <input class="input_box" type="text" id="major" value="<?=$userInfo['0']['professional'];?>" placeholder="输入所在专业"></div>
                                    </div>
                                </div>
                                <div class="info_item">
                                    <div class="item_name require">年级/Grade</div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <input class="input_box" type="text" id="grade" value="<?=$userInfo['0']['grade'];?>"placeholder="输入所在年级"></div>
                                    </div>
                                </div>
                                <div class="info_item">
                                    <div class="item_name require">个人简介/Personal profil</div>
                                    <textarea class="input_box textarea_box" maxlength="200" id="remark" placeholder="简要说明你的个人简介（200字内）"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="upload_submit_btn">
                        <div class="submit_btn confirm_submit active_btn" id="saveUserInfo" onclick="complete()">提交</div>
                    </div>
                </div>
            </form>
        </div>
        <div id="clickHere" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document" style="width: 500px;height: 250px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" style="text-align: center;font-size:24px;font-weight:500;color: #192035;">添加学校</h4>
                    </div>
                    <div class="modal-body body-self">
                        <div class="school-info-item hasProvince">
                            <div class="item-title">省份:</div>
                            <input type="text" class="item-input province" placeholder="请选择省份" id="provinceModal" data-guid="" onfocus="showProvince()">
                            <div class="provinceList" style="display: none;"></div>
                        </div>
                        <div class="school-info-item">
                            <div class="item-title">学校名称:</div>
                            <input type="text" class="item-input" placeholder="请输入学校名字全称" id="inputSchoolName">
                            <span class="tips">请输入学校名字全称</span>
                        </div>
                    </div>
                    <div class="modal-footer self-footer">
                        <button type="button" class="btn btn-primary btn-self-close" style="color: #FFAC2A;background-color: #fff;border: 1px solid #D60F43;outline-style: none;" onclick="submitSchoolInfo()">确定</button>
                        <button type="button" class="btn btn-default btn-self-close" data-dismiss="modal">关闭</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    <?php $this->load->view('index/commonFooter')?>
    
    <script>
        // 获取首页底部公司赞助相关信息
        var CompanyListData = { result: null };
        function getCompanyInfos() {
            Request_.ajax({
                // key: '/api/WebPage/IndexCompanyList',
                // type: 'GET',
                key: '',
                type: '',
                data: {}, 
                dataType: "json",
                success: function (info) {
                    if (info && info.Stata === 10000) {
                        CompanyListData.result = info.Data;
                        $.each(CompanyListData.result, function(k, v) {
                            if (v.Title) {
    
                            }
                        });
                        updataView('t:_CompanyList', 'CompanyList', CompanyListData);
                    }
                }
            })
        }
        getCompanyInfos();
    </script>
    <script src="./public/script/user-info.js" ></script>
   <script>

        $('.control_left').load('./components/UserCenterSideMenu.html', null, function() {
            userCenterSiderActiveClass('user-info');
        });
        initPageEvent();
        function complete() {
            var name = $("#name").val();
            var email = $("#email").val();
            var schoolName = $("#schoolName").val();
            var professional = $("#major").val();
            var grade = $("#grade").val();
            var personalProfil = $("#remark").val();

            if (name != "" && email != "" && schoolName != "" && professional != "" && grade != "" && personalProfil != "")
            {
                $("#userInfo").submit();
            }
            else
            {
                alert("请填写完整的信息！");
            }
        }

   </script>
    
</body>
</html>