<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录注册</title>
</head>
<body>
<h1>register</h1>
    <form action="<?=site_url('index/UserAction/register');?>" method="post">
        <input type="text" name="phoneNumber" placeholder="请输入11位手机号码">
        <input type="number" name="YZcode" placeholder="请输入验证码">
        <input type="button" value="获取验证码">
        <input type="submit" value="注册">
    </form>

<h1>login-YZcode</h1>
<form action="<?=site_url('index/UserAction/login_code');?>" method="post">
    <input type="text" name="phoneNumber" placeholder="请输入11位手机号码">
    <input type="number" name="YZcode" placeholder="请输入验证码">
    <input type="button" value="获取验证码">
    <input type="submit" value="登录">
</form>

<h1>login-password</h1>
<form action="<?=site_url('index/UserAction/login_passwd');?>" method="post">
    <input type="text" name="phoneNumber" placeholder="请输入11位手机号码">
    <input type="number" name="YZcode" placeholder="请输入验证码">
    <input type="button" value="获取验证码">
    <input type="submit" value="注册">
</form>
</body>
</html>